:root {
  --primary_background: initial;
  --dark_background: initial;

  --button_background: initial;
  --button_hover_background: initial;

  --button_dark_background: initial;
  --button_dark_hover_background: initial;

  --spacing: 1rem;
}