:root {
  --primary_background: initial;
  --dark_background: initial;

  --button_background: initial;
  --button_hover_background: initial;

  --button_dark_background: initial;
  --button_dark_hover_background: initial;

  --spacing: 1rem;
  --button_padding: 10px;

  --font_size_button: 1.65rem;
  --font_size_title: 2.1rem;
  --font_size_regular: 1.2rem;
}