.end_Button_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
}

.end_Button_div button {
  width: 60%;
  text-align: center;
  font-size: var(--font_size_button);
}