* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

:root {
  --primary_background: #7D7D7D;
  --dark_background: #262626;

  --button_background: #262626;
  --button_hover_background: #A3A3A3;

  --button_dark_background: #FFFFFF;
  --button_dark_hover_background: #D9D9D9;

  --spacing: 1rem;
  --button_padding: 5px;

  --font_size_button: 1.65rem;
  --font_size_title: 2.1rem;
  --font_size_regular: 1.2rem;
}

button {
  font-size: var(--font_size_button);
  background-color: var(--button_background);

  color: white;
  font-weight: 400;

  border-radius: 25px;
  padding: var(--button_padding);
}

button:hover {
  background-color: var(--button_hover_background);
  color: black;
  font-weight: initial;

  transition: all 0.5s;
}

.hidden {
  display: none;
}

/* Video */

.backGroundVideo {
  position: fixed;
  right: 0;
  bottom: 1;
  width: 100vw;
  min-height: 100%;
  z-index: -1;
}

/* Header */

.navigation {
  border-bottom: 1px black solid;

  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 10;
  overflow: hidden;
  height: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation h1 {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  margin-top: 5px;
  gap: calc(var(--spacing) * 1.5);
  margin-right: var(--spacing);

  width: 100%;
  height: 100%;
  padding: var(--spacing);

  overflow: hidden;
  list-style: none;
}

nav ul li {
  white-space: nowrap;
}

.headerLinks {
  display: flex;
  flex-direction: row;
  float: right;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  text-align: center;
}

.headerLinks a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.headerLinks a:hover {
  transition: all 0.5s;
  background-color: lightslategrey;
  border: inherit solid 2px;
  border-radius: 0.5rem;
  padding: 5px;
}

/* Footer */

footer {
  position: absolute;
  bottom: 0;

  background-color: white;
  width: 100%;
  padding: 20px;
  border-top: 1px solid black;
}

/* Buttons */

.contentText {
  position: relative;
  z-index: 2;

  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contentText h1 {
  font-size: var(--font_size_title);
}

.contentText h2 {
  font-size: var(--font_size_button);
  margin: 10px 0;
  color: #696969;
  text-decoration: underline;
}

.contentText span p {
  font-size: var(--font_size_regular);
  width: 100%;
  text-align: center;
}

.content {
  position: relative;
  z-index: 2;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  width: 100%;
  min-height: calc(100vh - 4rem);
  padding-top: 1rem;
}
.content .emptySpace {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  pointer-events: none;
}

.quizButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  justify-content: center;
  align-items: center;
  gap: 5px 10px;
  margin-top: 10px;
  z-index: 2;
}

.quizButtons > button {
  width: 30%;
}

/* Quiz */

#quiz-container {
  margin-top: calc(var(--spacing) * 2.5);
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 100%;
}

#questionNumber, #questionText {
  background-color: var(--primary_background);
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 2px black solid;
}

#questionNumber {
  border-bottom: 6px black solid;
  width: 100%;
}

#questionText {
  margin-bottom: 10px;
}

#quiz-container #answers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px 10px;
}

#answers > button {
  width: 100%;
  word-wrap:break-word;
}

#nextBtn {
  width: 100%;
  text-align: center;
  margin-top: var(--spacing);
}

@media (prefers-color-scheme: dark) {
  .navigation {
    background-color: var(--dark_background);
    color: white;
  }

  .navigation a {
    color: white;
  }
  
  button {
    background-color: var(--button_dark_background);
    color: black;
  }

  button:hover {
    background-color: var(--button_dark_hover_background);
  }

    #questionNumber,
    #questionText {
      background-color: var(--dark_background);
      color: white;
    }
}