:root {
    --background: #0f0f0f;
    --spacing: 1rem;
}

/* HTML */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation {
    border: 2px black solid;
    text-align: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation h1 {
    font-size: 2.5rem;
}

/* Content */

.content {
    margin-top: calc(var(--spacing) * 7);
}

/* Footer */

.footer {
    border: 2px black solid;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.hidden {
    display: none;
}